<h1>Index</h1>

<table>
  <tbody>
  <tr>
    <th>name</th>
    <th>price</th>
    <th>real</th>
    <th>description</th>
    <th>created_at</th>
    <th>updated_at</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.real %></td>
      <td><%= item.description %></td>
      <td><%= item.created_at %></td>
      <td><%= item.updated_at %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy', item_path(item), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New item', new_item_path %>
